<!doctype html>
<html>
  <head>
    <title>.to.do.</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/tasks.css" />
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="../bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body>
  <div class="container">
    <%# formulaire toDo #%>
    <h3>tasks</h3>
    <% todolist.forEach(function(el, ind) { %>
      <form id="form<%= ind %>" draggable="true" ondragstart="drag(event)"  ondrop="drop(event)" ondragover="allowDrop(event)" method="post" action="/todo/modify/">
        <span>&nbsp;</span><a href ="/todo/remove/<%= ind %>">x</a>&nbsp;<input name="taskContent" class="todoItem" type="text" value="<%= el %>" />
        <input type="hidden" name="taskId" value="<%= ind %>" />
        <input class="todoItem" type="submit" value="send" />
      </form>
    <% }); %>
    <a href="/todo/undo">undo</a>
    <br/>
    <form class="tasks" method="post" action="/todo/add/">
      <fieldset>
        <legend>new Task</legend>
        <input type = "text" name = "newtodo" autofocus=""/>
        <input type = "submit" value = "add" />
      </fieldset>
    </form>
  </div>
</body>
</html>
